In [87]:
import pandas as pd
df=pd.read_csv("Employee.csv")
df

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot
0,Bachelors,2017,Bangalore,3,34,Male,No,0,0
1,Bachelors,2013,Pune,1,28,Female,No,3,1
2,Bachelors,2014,New Delhi,3,38,Female,No,2,0
3,Masters,2016,Bangalore,3,27,Male,No,5,1
4,Masters,2017,Pune,3,24,Male,Yes,2,1
...,...,...,...,...,...,...,...,...,...
4648,Bachelors,2013,Bangalore,3,26,Female,No,4,0
4649,Masters,2013,Pune,2,37,Male,No,2,1
4650,Masters,2018,New Delhi,3,27,Male,No,5,1
4651,Bachelors,2012,Bangalore,3,30,Male,Yes,2,0
4652,Bachelors,2015,Bangalore,3,33,Male,Yes,4,0

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4653 entries, 0 to 4652
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Education                  4653 non-null   object
 1   JoiningYear                4653 non-null   int64
 2   City                       4653 non-null   object
 3   PaymentTier                4653 non-null   int64
 4   Age                        4653 non-null   int64
 5   Gender                     4653 non-null   object
 6   EverBenched                4653 non-null   object
 7   ExperienceInCurrentDomain  4653 non-null   int64
 8   LeaveOrNot                 4653 non-null   int64
dtypes: int64(5), object(4)
memory usage: 327.3+ KB

In [79]:
print(df)

      Education  JoiningYear       City  PaymentTier  Age  Gender EverBenched  \
0     Bachelors         2017  Bangalore            3   34    Male          No
1     Bachelors         2013       Pune            1   28  Female          No
2     Bachelors         2014  New Delhi            3   38  Female          No
3       Masters         2016  Bangalore            3   27    Male          No
4       Masters         2017       Pune            3   24    Male         Yes
...         ...          ...        ...          ...  ...     ...         ...
4648  Bachelors         2013  Bangalore            3   26  Female          No
4649    Masters         2013       Pune            2   37    Male          No
4650    Masters         2018  New Delhi            3   27    Male          No
4651  Bachelors         2012  Bangalore            3   30    Male         Yes
4652  Bachelors         2015  Bangalore            3   33    Male         Yes

      ExperienceInCurrentDomain  LeaveOrNot
0                             0           0
1                             3           1
2                             2           0
3                             5           1
4                             2           1
...                         ...         ...
4648                          4           0
4649                          2           1
4650                          5           1
4651                          2           0
4652                          4           0

[4653 rows x 9 columns]

In [88]:
cols=['Age']
df=df.drop(cols,axis=1)
print(df)

      Education  JoiningYear       City  PaymentTier  Gender EverBenched  \
0     Bachelors         2017  Bangalore            3    Male          No
1     Bachelors         2013       Pune            1  Female          No
2     Bachelors         2014  New Delhi            3  Female          No
3       Masters         2016  Bangalore            3    Male          No
4       Masters         2017       Pune            3    Male         Yes
...         ...          ...        ...          ...     ...         ...
4648  Bachelors         2013  Bangalore            3  Female          No
4649    Masters         2013       Pune            2    Male          No
4650    Masters         2018  New Delhi            3    Male          No
4651  Bachelors         2012  Bangalore            3    Male         Yes
4652  Bachelors         2015  Bangalore            3    Male         Yes

      ExperienceInCurrentDomain  LeaveOrNot
0                             0           0
1                             3           1
2                             2           0
3                             5           1
4                             2           1
...                         ...         ...
4648                          4           0
4649                          2           1
4650                          5           1
4651                          2           0
4652                          4           0

[4653 rows x 8 columns]

In [82]:
df.isnull().any()

Education                    False
JoiningYear                  False
City                         False
PaymentTier                  False
Age                          False
Gender                       False
EverBenched                  False
ExperienceInCurrentDomain    False
LeaveOrNot                   False
dtype: bool

In [83]:
data=df.bfill()

In [84]:
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['City']=le.fit_transform(df['City'])
df
#data encode the remaining columns by for loop
y=['Education','JoiningYear','PaymentTier','EverBenched']
for i in y :
  df[i]=le.fit_transform(df[i])
df

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot
0,0,5,0,2,34,Male,0,0,0
1,0,1,2,0,28,Female,0,3,1
2,0,2,1,2,38,Female,0,2,0
3,1,4,0,2,27,Male,0,5,1
4,1,5,2,2,24,Male,1,2,1
...,...,...,...,...,...,...,...,...,...
4648,0,1,0,2,26,Female,0,4,0
4649,1,1,2,1,37,Male,0,2,1
4650,1,6,1,2,27,Male,0,5,1
4651,0,0,0,2,30,Male,1,2,0
4652,0,3,0,2,33,Male,1,4,0

In [89]:
data=pd.DataFrame({'x':[78,85,96,80,86],'y':[84,94,89,83,86],'z':[86,97,96,72,83]})

In [90]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
w=scaler.fit_transform(data)
w

array([[-1.11803399, -0.80606835, -0.08699765],
       [ 0.        ,  1.71289525,  1.10921998],
       [ 1.75691055,  0.45341345,  1.00047293],
       [-0.79859571, -1.05796472, -1.60945644],
       [ 0.15971914, -0.30227563, -0.41323882]])